@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography"; 

@theme {
    --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

/* Override font default */
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
    cursor: pointer;
}